<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
<meta name="description" content="Description">
<title>@@title</title>
<!-- inject:css -->
<!-- endinject -->
