html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
}

html {
  height: 100%;
}

body {
  overflow: auto;
}
